<!DOCTYPE html>
<html>
  <head>
    <!--Import Google Icon Font-->
    <link
      href="https://fonts.googleapis.com/css2?family=Lato&display=swap"
      rel="stylesheet"
    />
    <!--Let browser know website is optimized for mobile-->
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
      name="viewport"
    />
    <title>Travelsite</title>
  </head>

  <body id="home">
    <nav>
      <div class="container">
        <ul class="navbar">
          <li>
            <a href="#home">Home</a>
          </li>
          <li>
            <a href="#search">Search</a>
          </li>
          <li>
            <a href="#follow">Follow me</a>
          </li>
        </ul>
      </div>
    </nav>
    <div class="image">
      <div class="ptext">
        <span class="border">
          Travelsite
        </span>
      </div>
    </div>
    <!-- Section: Search -->
    <section id="search">
      <div class="container">
        <h3 class="subtitle">Search Destinations</h3>

        <div class="search-input">
          <input
            class="autocomplete"
            placeholder="Enter your destination"
            type="text"
            id="autocomplete-input"
          />
        </div>
        <div class="row">
          <div class="dateinput">
            <input
              type="date"
              id="start_date"
              placeholder="Enter the start date"
            />
          </div>
          <div class="dateinput">
            <input
              type="date"
              id="finish_date"
              placeholder="Enter the finish date"
            />
          </div>
          <div class="input-field">
            <button
              class="btn-floating btn-large waves-effect waves-light pink z-depth-3"
              id="submit"
            >
              <i class="fa fa-search fa-2x"></i>
            </button>
          </div>
        </div>
      </div>
    </section>

    <section>
      <div class="container" id="content">
        <h1 id="city_header"></h1>
        <img id="city_photo" src="" />
        <div class="container">
          <blockquote id="summary" class="flow-text"></blockquote>
        </div>
      </div>
      <div class="container">
        <h3 id="weather_header" class="subtitle"></h3>
        <table class="">
          <thead>
            <tr id="table_heading"></tr>
          </thead>

          <tbody id="table_body"></tbody>
        </table>
      </div>
      <div class="container">
        <h3 id="popular_header" class="subtitle"></h3>
        <ul class="collection highlight" id="popular"></ul>
      </div>
    </section>

    <!-- Section: Follow -->
    <section id="follow">
      <div class="container">
        <h4 class="subtitle">Follow Me</h4>
        <p class="flow-text">Follow us on social media for special offers</p>
        <div class="row">
          <a href="htttps://facebook.com" target="_blank">
            <i class="fab fa-facebook fa-4x"></i>
          </a>
          <a href="htttps://twitter.com" target="_blank">
            <i class="fab fa-twitter fa-4x"></i>
          </a>
          <a href="https://www.linkedin.com/in/usama242/" target="_blank">
            <i class="fab fa-linkedin fa-4x"></i>
          </a>
          <a href="htttps://googleplus.com" target="_blank" class="white-text">
            <i class="fab fa-google-plus fa-4x"></i>
          </a>
          <a href="https://github.com/usama242" target="_blank">
            <i class="fab fa-github fa-4x"></i>
          </a>
        </div>
      </div>
    </section>

    <!-- Footer -->
    <footer class="footer">
      <h4>Travelsite</h4>
    </footer>

    <!--Import jQuery before materialize.js-->
    <script>
      // Check that service workers are supported
      if ("serviceWorker" in navigator) {
        // Use the window load event to keep the page load performant
        window.addEventListener("load", () => {
          navigator.serviceWorker.register("/service-worker.js");
        });
      }
    </script>
    <script src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
  </body>
</html>
