body {
  display: grid;
  grid-gap: 20px;
  font-size: 16px;
  font-family: Lato, sans-serif;
  font-weight: 400;
  line-height: 1.8em;
}
a,
a:visited {
  text-decoration: none;
  color: #000;
}
.image {
  background: url(https://cdn.pixabay.com/photo/2014/05/03/01/04/manhattan-336708_1280.jpg);
  max-width: 100%;
  height: 500px;
  position: relative;
  opacity: 0.7;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.ptext {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
  font-size: 27px;
  letter-spacing: 8px;
  text-transform: uppercase;
}
.ptext .border {
  background-color: #111;
  color: #fff;
  padding: 20px;
}
.subtitle {
  text-align: center;
  font-size: 2rem;
}
.flow-text {
  text-align: center;
  font-size: 1.3rem;
}
