.slider .btn {
  margin-top: 20px;
}

.section-search input {
  padding: 5px !important;
  font-size: 18px !important;
  width: 90% !important;
  border: #f4f4f4 3px solid !important;
}

.autocomplete-content {
  position: absolute;
  width: 100%;
  text-align: center;
}

.section-follow .fa-4x {
  margin: 5px 10px;
}

.section-contact {
  margin: 70px 0px;
  h5 {
    margin: 30px;
  }
}

.datepicker-date-display {
  background-color: #00bcd4;
}
.datepicker-cancel,
.datepicker-clear,
.datepicker-today,
.datepicker-done {
  color: #00bcd4;
}
.datepicker-table td.is-selected {
  background-color: #00bcd4;
}

@media only screen and (max-width: 400px) {
  .carousel .carousel-item {
    min-width: 80% !important;
  }
}
@media only screen and (min-width: 401px) {
  .carousel .carousel-item {
    min-width: 500px !important;
  }
}
